<div class="logo">
  <img src="assets/images/logo.jpg" width="60" alt="logo">
  <h1>Mega-sena</h1>
</div>
<div class="inputs">
  <input type="number" min="1" max="60" [(ngModel)]="numeros[0]" />
  <input type="number" min="1" max="60" [(ngModel)]="numeros[1]" />
  <input type="number" min="1" max="60" [(ngModel)]="numeros[2]" />
  <input type="number" min="1" max="60" [(ngModel)]="numeros[3]" />
  <input type="number" min="1" max="60" [(ngModel)]="numeros[4]" />
  <input type="number" min="1" max="60" [(ngModel)]="numeros[5]" />
</div>
<div class="buttons">
  <button name="gerar-cartela" (click)="gerarCartela()" type="submit" id="gerar-cartela">
    Gerar Cartela
  </button>

  <button name="gerar-cartela-automatica" (click)="gerarCartelaAutomatica()" type="submit" id="gerar-cartela-automatica">
  Gerar Cartela Automática
  </button>
</div>

<div class="tabela">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Números</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartela of cartelas">
            <td>{{cartela.id}}</td>
            <td>{{cartela.numero}}</td>
            <td>{{cartela.data | date:"dd/MM/yyyy hh:mm"}}</td>
        </tr>
    </tbody>
  </table>
</div>


