@import "../../app.component.css";
.inputs {
    margin: 0px auto;
    height: 100%;
    padding: 3% 10px;
    width: 50%;
    display: table;
}
.logo {
    width: 50%;
    position: relative;
    margin: 0px auto;
    padding: 18px;
    display: table;
}
.logo h1{
    font-style: italic;
    color: #00923f;
    margin: 0px auto;
    text-align: center;
    font-weight: 900;
}
img {
    max-width: 100%;
    float: left;
}
.inputs input {
    float: left;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 10px 15px 0 0;
    color: #adafaf;
    font-weight: 900;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
input:focus {
    outline: none;
}
.buttons {
    margin: 0px auto;
    position: relative;
    width: 50%;
}
input::-webkit-inner-spin-button {
    display: none;
}
button{
    padding: 15px;
    margin: 0 auto;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background: #00923f;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
}
button:focus{
    outline: none;
}

.tabela{
    width: 50%;
    margin: 40px auto 60px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
thead tr {
    background-color: #ec9d25;
    
}
tr th{
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding: 15px;
    line-height: 1.4;
}
tr td {
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
    text-align: right;
    padding: 15px;
}
tbody tr {
    border: 1px solid #ddd;
}
@media (max-width: 991px) {
    .inputs {
        width: 90%;
    }
    .buttons{
        width: 90%!important;
    }
    button {
        margin: 10px auto;
    }
    .tabela {
        overflow: scroll!important;
        width: 90%!important;
    }
}