<div class="gerar-numeros">
  <button name="gerar-sorteio" (click)="sortear()" type="submit" id="gerar-sorteio">
    Gerar Sorteio
  </button>
<h1>Números Sorteados:</h1> <label >{{sorteio.numero}}</label>
<br />
<h1>Ganhadores:</h1>
<table>
    <thead>
      <tr>
        <th>Nº Cartela</th>
        <th>Números Acertos</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ganhador of sorteio.ganhadores">
            <td>{{ganhador.cartela.Id}}</td>
            <td>{{ganhador.acertos}}</td>
        </tr>
    </tbody>
  </table>
</div>

    